h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: salmon;
}
 a{ 
    text-align: center;
    font-size: x-large;

    }
    h2 {
        font-style: italic;
        text-align: center;
    }